
<section class="container content">

	<h2>Current Lists</h2>

	<h3> Add New List </h3>
<%= form_for @list do |f| %>
	<div class="field has-addons">
		<div class="control is-expanded">
		<%= f.text_field :name, class: 'input' %><br>
	</div>
	<div class="control">
		<%= f.submit class: 'button is-primary' %>
	</div>
	</div>
<% end %>

	<h3> Current Lists </h3>
<% @lists.each do |l| %>
		<p> <%= link_to "#{l.name}", list_path(l.id) %> <p>
	<% end %>


</section>
