
<section class="container">

<div class="content">
	<h2> Add List </h2>
</div>

<%= form_for @list do |f| %>
	<div class="field control">
		<%= f.text_field :name, class: 'input' %><br>
		<%= f.submit class: 'button' %>
	</div>
<% end %>

<% @lists.each do |l| %>
		<p> <%= link_to "#{l.name}", list_path(l.id) %> <p>
	<% end %>


</section>
