
	<h2>Current Lists</h2>

	<%= @gifts.inspect %>

			<table class="table is-fullwidth" id="gifts-table">
				<thead>
					<tr>
						<th>Gift Title</th>
						<th>Who's it for?</th>
						<th>Gift URL</th>
					</tr>
				</thead>
				<tbody>
				<% @gifts.each do |gift| %>
					<tr>
						<td><%= gift.title %></td>
						<td><%= gift.contact_id %></td>
						<td><%= gift.url %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
