<section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">

        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <%= image_tag("garden_homepage.png") %>>
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            Garden
                        </h1>
                        <h2 class="subtitle is-4"><br>
                            The contact manager to strengthen your most important relationships
                        </h2>
                        <br>
                        <p class="has-text-centered">
													<%= link_to "Get Started", new_user_registration_path, method: :GET, class: 'button is-medium is-outlined' %>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    
</section>
