
<div class="columns">
	<div class="column">
		<div class="field control">
      <%= f.label :title, 'Gift' %>
      <%= f.text_field :title, class: 'input' %>
    </div>
</div>
	<div class="column">
    <div class="field control">
      <%= f.label :url, 'URL' %>
      <%= f.text_field :url, class: 'input' %>
    </div>
	</div>

</div>
