
<section class="container pages_navbar">
	<div class="tabs is-medium pages-navbar-tabs">
		<ul>
			<li id="dashboard"><%= link_to 'Dashboard', dashboard_path %></li>
			<li id="contacts"><%= link_to 'Contacts', contacts_path%></li>
			<li id="lists"><%= link_to 'Lists', lists_path%></li>
			<li id="gifts"><%= link_to 'Gifts', gifts_path%></li>
		</ul>
	</div>
</section>
